.Layout {
  background-color: #aaa0a0;
  min-height: 100vh;
}

.Layout.dark {
  background-color: #100f0f;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.dark h3,
.dark p {
  color: white;
}

.light h3,
.light p {
  color: black;
}
