.MovieCard {
  height: 360px;
  margin-top: 42px;
  perspective: 500px;
  width: 240px;
}

.MovieCard-content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: absolute;
  width: 100%;

  transform-style: preserve-3d;
  transition: transform 1s;
}

.MovieCard:hover .MovieCard-content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.MovieCard-content--front,
.MovieCard-content--back {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 5px;
  color: #03446a;
  font-size: 14px;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.MovieCard-content--back {
  transform: rotateY(180deg);
}

.MovieCard-image {
  max-width: 240px;
}

.MovieCard-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 12px;
}

.MovieCard-description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  margin: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
