* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  background-color: #aaa0a0;
}

.App.dark {
  background-color: #100f0f;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.dark h3,
.dark p {
  color: white;
}

.light h3,
.light p {
  color: black;
}
